.lab{
    margin-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border:1px solid #cfd8d8;
    width: 935px;
    box-shadow: 2px 3px #d6e4e4;
}

.addLab{
    color: blue;
    margin-top: 20px;
}

.subLab{
    color:green;
    margin-top: 20px;
}

.showLab{
    color: blue;
    margin-bottom: 15px;
    margin-left:15px;
}