.room{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom:20px;
    border:1px solid #cfd8d8;
    width: 910px;
    box-shadow: 2px 3px #d6e4e4;
}

.delButton{
    color: red;
    margin-left: 20px;
}

.updateButton{
    color: blue;
    margin-left: 15px;
}


